body {
    text-align: center;
}
#principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 3px solid #F7FE2E;
    background: #B40404;

    /*bordes de principal*/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 50px 50px 10px 10px;

    /*Box-shadow sombras*/
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(250,250,250) 5px 5px;
    box-shadow: rgb(27, 96, 216) 10px 10px 30px;

    /*Transformación: escala */
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(1.25 );

    /*Transformación: rotacion*/
    transform: rotate(10deg);

    /*Transformación: skew */
    transform: skewX(2);

    /*Transformación: translate */
    /* transform: translate(50px); */


}
#titulo {
    color: #F7FE2E;
    font: bold 36px verdana, sans-serif;
}
